{
  "dry_mode": true,
  "poktscan_api": "CHANGEME",
  "poktscan_api_token": "CHANGEME",
  "network_id": "CHANGEME",
  "tx_memo": "",
  "tx_fee": 10000,
  "domain": "CHANGEME",
  "chain_pool": [
    "0021",
    "0003"
  ],
  "servicer_keys": [
    "CHANGEME"
  ],
  "stake_weight": 4,
  "min_increase_percent": 5,
  "min_service_stake": [
    {
      "service": "0001",
      "min_node": 1
    }
  ],
  "time_period": 24,
  "results_path": "",
  "pocket_rpc": "CHANGEME",
  "log_level": "debug",
  "schedule": "@every 5m",
  "max_workers": 1,
  "max_retries": 1,
  "max_timeout": 15000
}